@font-face {
    font-family: 'Share Tech';
    src: URL('@/assets/fonts/ShareTech-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Major Mono Display';
    src: URL('@/assets/fonts/MajorMonoDisplay-Regular.ttf') format('truetype');
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Share Tech', sans-serif;
    background-color: $dark;
    color: $light;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 600px) {
    html { font-size: 12px !important; }
}

html { font-size: 8px; scroll-behavior: smooth;}

.link {
    text-decoration: none;
    color: $brand;
    font-size: 2rem;
    padding: 1rem;
    padding-bottom: 0.5rem;
    font-family: 'Share Tech', sans-serif;
    transition: color 0.3s ease-out;
    display: inline-block;
    position: relative;
    width: fit-content;
    &:hover {
        color: $light;
    }
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $brand;
        transform-origin: bottom;
        transition: transform 0.3s ease-in-out, color 0.3s ease-out;
    }
    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom;
        background-color: $light;
    }
}

.fadeIn {
    position: relative;
    opacity: 0;
    transition: all 0.5s ease-out;
    &.right {
        transform: translateX(-200px);
    }
    &.top {
        transform: translateY(-200px);
    }
    &.show {
        transform: translateX(0px);
        opacity: 1;
    }
}

ul {
    line-height: 1.5em;
    margin: 5px 0 15px;
    margin-bottom: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    position: relative;
    padding: 0 0 0 20px;
  }

  li.checkmark::before {
    content: ""; 
    position: absolute; 
    left: 2px; 
    top: 5px; 
    width: 3px;
    height: 6px;
    border: solid #f9dd94;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }